<% 
  endpoint = 'https://sourceryapp.org'
  # endpoint = 'http://localhost:3000'
  if AppConfig.has_key?(:sourcery_endpoint)
    endpoint = AppConfig[:sourcery_endpoint]
  end

  sourcery_id = false
  if AppConfig.has_key?(:sourcery_repo_id)
    sourcery_id = AppConfig[:sourcery_repo_id]
  end

  query_string = sourcery_id ? "repo_id=#{sourcery_id}" : ""
  query_string << "&title=#{record.display_string}"
  query_string << "&message=#{record.cite}, #{request.url}"
%>
<%= link_to "#{endpoint}/request/create?#{query_string}", target: :_blank do %>
  <button id="sourcery_button" class="btn btn-default page_action">
      <img src="<%= asset_path(t('plugin.sourcery.image')) %>" alt="Sourcery Icon", width="40", height="40"><br/><span><%= t('plugin.sourcery.request_action') %></span>
  </button>
<% end %>